header{
    color: black;
}
a{
    color: black;
}
.logo{
    padding-left: 80px;
    padding-top: 15px;
}
footer{
    background-color: black;
    color: blanchedalmond;
}
.footer_conten{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
}
.footer_conten a{
    color: blanchedalmond;
}
.banner{
    text-align: center;
    background-color: rgb(44, 182, 182);
    color: white;
    font-size:10px;
    height: 180px;
    
}
.banner .col{
    margin-top: 45px;
}
.needproject
{
    margin-top: 50px;
    text-align: center;
}
.slide{
    height: 180px;
    text-align: center;
    color: black;
}
.slide-conten{
    padding-top: 20px;
}
.conten{
    text-align: center;
    
}
.conten img{
width: 110%;
}


@import url(https://fonts.googleapis.com/css?family=Raleway);

.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

.content {
    position: relative;
    margin: auto;
    overflow: hiddenma
}

.content .content-overlay {
    background: rgba(98, 154, 187, 0.7);
    position: absolute;
    height: 100%;
    width: 110%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}
.content-details {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}
.content-details p {
    color: #fff;
    font-size: 70px;
}


